.PageWrapper {
    width: 100vw;
    height: 100vh;

    background-image: url("../../Assets/Images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}